table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

#futureValueChart {
    width: 100%;
    max-width: 1000px;
}

#futureValueChart .u-legend {
    border: 0;
    font-size: 14px;
}

#futureValueChart .u-legend th,
#futureValueChart .u-legend td {
    border: 0;
    padding: 4px;
}
